{% include base_path %}

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name }}
</div>

<div class="page__footer-colophon">
  Set in Crimson Pro by Jacques Le Bailly, Martel Sans by Dan Reynolds &amp; Mathieu R&eacute;guer, and Inconsolata by Raph Levien.
</div>

<div class="page__footer-buildtime">
  Built {{ site.time | date: '%-d %B %Y, %H:%M UTC' }}
</div>

<script>
  window.addEventListener('load', function () {
    if (typeof window.greedyNav !== 'undefined' && typeof window.greedyNav.init === 'function') {
      window.greedyNav.init();
    }
  });
</script>
